$black: #000;
$white: #fff;
$lightpurple: rgba(120, 48, 207, 0.1);
$darkblue: #28305F;
$green: #317361;
$silver: #ededed;

$c-1: $black;
$c-2: $white;
$c-3: $lightpurple;
$c-4: $darkblue;
$c-5: $green;
$c-6: $silver