//Font families
$ff-primary: 'Lora', sans-serif;
$ff-secondary: 'Montserrat', sans-serif; 

//Font sizes
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-28: 28px;
$fs-30: 30px;
$fs-32: 32px;
$fs-36: 36px;
$fs-38: 38px;
$fs-40: 40px;
$fs-44: 44px;
$fs-45: 45px;
$fs-48: 48px;
$fs-64: 64px;
$fs-77: 77px;
$fs-83: 83px;
$fs-150: 150px;

//Font weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Line heights
$lh-16: 16px;
$lh-18: 18px;
$lh-24: 24px;
$lh-28: 28px;
$lh-30: 30px;
$lh-48: 48px;
$lh-76: 76px;
